.fb-post {
	padding: 10px;
	/* Prevent the profile image from entering other posts if the message is one line */
	min-height: 65px;
}

.fb-post-from-msg {
	margin: 0 auto;
}

.fb-post-from-img {
	float: left;
	padding: 0 10px 0 0;
}

.fb-stats {
	
}

.fb-no-activity {
	font-style: italic;
	color: #9b9b9b;
}

.fb-icon {
	width: 15px;
	height: 15px;
}

.fb-comment-list {
	padding: 0 15px;
	border-left: solid thick #336699;
}

p.fb-comment {
	text-indent: -30px;
	padding-left: 30px;
}

a.fb-name {
	padding: 5px 0 0 0;
}

a.fb-name:link {
	color: #3B5998;
	font-weight: bold;
	text-decoration: none;
}

a.fb-name:hover {
	text-decoration: underline;
}

a.fb-name:visited {
	color: #3B5998;
}